# Android/Gradle/JetBrains Ignore
build/
.gradle/
.idea/
*.iml
local.properties
.DS_Store

# Android Studio specific
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Captures
*.hprof
*.pyc

# Project specific
ConectaGAB_Sprint1.zip
ConectaGAB/build/
ConectaGAB/app/build/
ConectaGAB/.gradle/
ConectaGAB/.idea/
ConectaGAB/local.properties
